.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group > h3 > p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-group > h3 > p > textarea, .form-group > h3 > p > input{
    width: 300px;
}